<a href="https://colab.research.google.com/github/DINILKK/python_basics/blob/main/raptor_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#program to find the smallest digit in a two digit number
number=int(input("enter a two digit number :"))
l=number%10
f=number//10
if l<f:
  print(l)
elif f<l:
  print(f)

enter a two digit number :29
2

In [ ]:
#program to calculate the distace between two points
p1=int(input('plot a point'))
p2=int(input('plot another point'))

distance=p2-p1

if distance<0:
  distance=-1*distance
  print(distance)

else:
  print(distance)

plot a point5
plot another point-1
6

In [ ]:
#program to find the smallest  among 3 numbers
a=int(input("enter a number :"))
b=int(input("enter another number :"))
c=int(input("enter another number :"))
if a<b and a<b:
  print(a,"is the smallest")
elif b<a and b<c:
  print(b,"is the smallest")
else:
  print(c,'is the smallest')

enter a nuber :4
enter another number :3
enter another number :2
2 is the smallest

In [ ]:

#sum of the factors of a number
number=int(input("enter a number :"))
sum=0
for i in range(1,number):
  if number%i==0:
    sum=sum+i

print(sum)

enter a number :15
9

In [ ]:
#program to find largest among three numbers
a=int(input("enter a number :"))
b=int(input("enter another number :"))
c=int(input("enter another number :"))
if a>b and a>b:
  print(a,"is the largest")
elif b>a and b>c:
  print(b,"is the largest")
else:
  print(c,'is the largest')

enter a number :1
enter another number :2
enter another number :3
3 is the largest145

In [ ]:
#factorial of a number
a=int(input("rnter a number :"))
fact=1
for i in range(1,a+1):
  fact=fact*i
print("the facorial of the given number",a,"is " ,fact)

rnter a number :5
the facorial of the given number 5 is  120

In [ ]:
#primecheck
a=int(input("enter a number :"))
if a==2:
  print(a,'is a prime number')
for i in range(2,a):
  if a%i==0:
    print(a,"is not a prime number")
    break
  else:
    print(a,"is a prime number")
    break

enter a number :13
13 is a prime number

In [ ]:
#program to produce n number of odd number
n=int(input("enter number of odd numbers to be produced :"))
for i in range(n):
  print(2*i+1)

enter number of odd numbers to be produced :10
1
3
5
7
9
11
13
15
17
19

In [ ]:
#program to interchange the values
a=int(input("enter a number a: "))
b=int(input("enter a number b :"))
c=a
a=b
b=a
print("")
print("after interchanging ")
print("")4
print("a :",a)
print("b :",b)

enter a number a: 3
enter a number b :4
after interchanging

a : 4
b : 4

In [ ]:
#days into years,months
n=int(input("enter number of days :"))
years=n//365
months=(n%365)//30
days=(n%30)
print(years,"years ",months, " months",days," days" )

enter number of days :1000
2 years  9  months 10  days

In [ ]:
#seconds into hours ,minutes and sec.
a=int(input("enter number of seconds :"))
hours=a//3600
minutes=(a%3600)//60
seconds=a%360
print(hours,"hours ",minutes,"minutes ",seconds,"seconds ")

enter number of seconds :38373
10 hours  39 minutes  213 seconds

In [ ]:
#sum of n natural numberes
n=int(input(" enter number of number :"))
sum=0
for i in range(n+1):
  sum=sum+i
print("the sum of n natural numbers are :",sum)

 enter number of number :10
the sum of n natural numbers are : 55

In [ ]:
 #check if the number is two digit or not
 n=int(input("enter a number :"))
 if n>9 and n<99:
   print("the given number",n,"is a two digit number")
 else:
  
    print("the given number is not a two digit")

enter a number :11
the given number 11 is a two digit number

In [ ]:
#whether a number is palindrome
num1=int(input("enter a number :"))
pal=num1
num2=0
while num1>0:
  num2=num2*10+(num1%10)
  num1=num1//10

if num2==pal:
  print("the given number is a palindrome")
else:
  print("the given number is not a palindrome")

enter a number :121
the given number is a palindrome

In [ ]:
#program to check if the given number is armstrong or not.
num1=int(input('enter a number :'))
count=0
num2=0
num3=num1

while num1>0:
  num1=num1//10
  count=count+1

num1=num3

while num1>0:
  r=(num1%10)
  num2=num2+r**count
  num1=(num1//10)

num1=num3

if num2==num1:
  print("its an armstrong number !!!")

else:
  print('its not')

enter a number :122
its not

In [ ]:
#To convert binary to  decimal
num1=int(input('enter a binary number :'))
num2=0
i=1

while num1!=0:
  rem=num1%10
  num2=num2+(rem*i)
  i=i*2
  num1=num1//10

print("the decimal value for the given number is :",num2)

enter a binary number :101010100101
the decimal value for the given number is : 2725

In [ ]:
#program to check if a number is automophic
num1=int(input('enter a number :'))
i=0
num2=num1
sq=num2*2

while num2>0:
  num2=num2//10
  i=i+1

In [ ]:
#program to the HCF of two number
num1=int(input('enter a number :'))
num2=int(input('enter another number :'))

if num1<num2:
  for i in range(1,(num2//2)+1):
    if num1%i==0 and num2%i==0:
      hcf=i

else:
   for i in range(1,(num1//2)+1):
    if num1%i==0 and num2%i==0:
      hcf=i


print(hcf)

enter a number :48
enter another number :72
24

In [ ]:
# Program to display the Fibonacci sequence
n=int(input("How many terms? "))
n1, n2 = 0, 1
count = 0

if n<=0:
   print("Please enter a positive integer")
elif n==1:
   print("Fibonacci sequence",n,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count<n:
       print(n1)
       nth=n1+n2
       n1=n2
       n2=nth
       count+=1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [ ]:
#reverse of a number
num1=int(input('enter a number :'))
rev_num1=0

while num1>0:
  rev_num1=rev_num1*10+(num1%10)
  num1=num1//10

print('there reverse of the given number',rev_num1)

enter a number :1234
4321

In [ ]:
#arithematic series
f_term=int(input('enter first term of the series :'))
C_diff=int(input('enter common of the series :'))
n_term=int(input('enter number of terms to be produced :'))

for i in range(n_term):
  print(f_term)
  f_term=f_term+C_diff

enter first term of the series :3
enter common of the series :3
enter number of terms to be produced :10
3
6
9
12
15
18
21
24
27
30

In [ ]:
#Program to produce squares of number between two numbers.
l_limit=int(input('enter lower limit :'))
u_limit=int(input('enter upper limit '))

for i in range(l_limit,u_limit+1):
  print(i**2)

enter lower limit :3
enter upper limit 10
9
16
25
36
49
64
81
100

In [ ]:
#find the exponential 
base=int(input('enter the base value :'))
power=int(input('enter the power :'))
for i in range(power+1):
  exp_value=base**i

print(exp_value)

enter the base value :2
enter the power :4
16

In [ ]:
#to check a number is negative or positve or zero
num=int(input('enter a number :'))
if num==0:
  print('it is zero')
elif num>0:
  print('it is positive')
else:
  print('its a negative')

enter a number :67
it is positive

In [ ]:
#program to find the average of three numbers
num1=int(input('enter a number :'))
num2=int(input('enter another number :'))
num3=int(input('enter another number :'))
sum=(num1+num2+num3)
print('the average the given three numbers are',sum/3)

enter a number :2
enter another number :23
enter another number :22
the average the given three numbers are 15.666666666666666

In [ ]:
#program to the area of circle
r=int(input('enter the radius of the circle :'))
pi=3.14
print('area of the circle is',pi*(r**2))

enter the radius of the circle :3
area of the circle is 28.26

In [3]:
#program to find the area of triangle
import math
side1=int(input('enter side of nthe triangle :'))
side2=int(input('enter another side of a triangle :'))
side3=int(input('enter another side of a triangle :'))
s=(side1+side2+side3)/2
area=math.sqrt(s*(s-side1)*(s-side2)*(s-side34))
print('area of triangle is' ,area)

enter side of nthe triangle :2
enter another side of a triangle :3
enter another side of a triangle :4
area of triangle is 2.9047375096555625